
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
	width: 1.2rem;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 99vmax;
	border: 4px solid #111;
}

::-webkit-scrollbar-track {
	background: #111;
}

/* ------------Navbar------------- */
@import url('./navbar.css');

/* -------------Hero-homepage-------- */
@import url('./hero_homepage.css');

/* -------------Line-title-------- */
@import url('./title.css');

/* -------------About-homepage-------- */
@import url('./about_homepage.css');

/* ----------Footer---------------- */
@import url('./footerstyles.css');

