header#about{
    background-image: url('/picture/aboutus.png');
      background-size: cover;
      background-position: top left;
      position: relative;
      z-index: 1;
      height: 150vh;
    text-align: center;
  }