#people{
    padding-bottom: 5rem;
}

.filter-people{
    width: 60vw;
    margin: auto;
}

.menu-people {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
  }
  
  .people-item {
    cursor: pointer;
    padding: 0 1rem;
    border: none;
    background: none;
    outline: none;
  }

  .people-item.active {
    border-bottom: 3px solid red;
  }

  .people-item:hover {
    border-bottom: 3px solid red;
    transition: all 0.2s ease-out;
  }

  .people-item:focus {
    outline: none;
  }

  .view-people{
    height: 20rem;
    width: 14rem;
    background-color: aquamarine;
    margin: auto;
    border-radius: 6rem;
    position: relative;
    cursor: pointer;
  }

  .view-people .effect-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    transition: .5s;
    transform: scale(0);
    opacity: 0;
    border-radius: 6rem;
  }
  
  .view-people:hover .effect-text {
    transform: scale(1);
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    .menu-people {
        grid-gap: 20px;
      }
  }

  @media screen and (max-width: 425px) {
    .menu-people {
        grid-gap: 10px;
      }
  }

  @media screen and (max-width: 375px) {
    .menu-people {
        grid-gap: 5px;
      }

      .people-item {
        padding: 0 0.5rem;
      }
  }